<%= simple_form_for @player do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :first_name %>
  </div>
  <div class="field">
    <%= f.input :last_name %>
  </div>
  <div class="field">
    <%= f.input :address %>
  </div>
  <div class="field">
    <%= f.input :phone %>
  </div>
  <div class="field">
    <%= f.input :email %>
  </div>
  <div class="field">
    <%= f.input :date_of_birth %>
  </div>
  <div class="field">
    <%= f.input :position %>
  </div>
  <div class="field">
    <%= f.input :best_foot %>
  </div>
  <div class="field">
    <%= f.input :youth_player %>
  </div>
  <div class="field">
    <%= f.input :seasons %>
  </div>
  <div class="field">
    <%= f.input :seasons_first_team %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

