<h1>Player introduction</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Date of birth</th>
      <th>Position</th>
      <th>Best foot</th>
      <th>Youth player</th>
      <th>Seasons</th>
      <th>Seasons first team</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.address %></td>
        <td><%= player.phone %></td>
        <td><%= player.email %></td>
        <td><%= player.date_of_birth %></td>
        <td><%= player.position %></td>
        <td><%= player.best_foot %></td>
        <td><%= player.youth_player %></td>
        <td><%= player.seasons %></td>
        <td><%= player.seasons_first_team %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
